nav{
  background-color: rgb(23, 23, 23);
  width: max-content;
  display: block;
  position: fixed;  
  left: 45%;
  padding: 0.7rem  1.7rem;
  transform: translate(-45%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  /* -webkit-backdrop-filter: blur(15px); */
  /* backdrop-filter: blur(15px); */
  /* background-color: rgba(255, 255, 255, .9); */
  z-index: 2;
}
nav a{
    
    background: transparent ;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
}
nav a:hover {
  background-color: #ff004f;
}
nav a.active {
  background: #ff004f;
}